  <%= form_with model: @recipe, url: recipes_path, local: true do |f| %>
  <%= render 'shared/error_messages', model: @recipe %>
  <form>

    <div class="row mb-3">
      <label for="input-title" class="col-sm-2 col-form-label">タイトル</label>
      <div class="col-sm-10">
        <%= f.text_field :title, autofocus: true, placeholder:"例）カレー鍋", class: "form-control" %>
      </div>
    </div>

    <div class="row mb-3">
      <label for="input-category" class="col-sm-2 col-form-label">カテゴリー</label>
      <div class="col-sm-10">
        <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"form-select"}) %>
      </div>
    </div>

    <div class="row mb-3">
      <label for="input-image" class="col-sm-2 col-form-label">写真</label>
      <div class="col-sm-10">
        <%= f.file_field :image, class: "form-control" %>
      </div>
    </div>

    <div class="row mb-3">
      <label for="input-headline" class="col-sm-2 col-form-label">メインコピー</label>
      <div class="col-sm-10">
        <%= f.text_area :headline, rows: "3", placeholder: "例）スパイスたくさんのピリ辛鍋", class: "form-control" %>
      </div>
    </div>

    <div class="row mb-3">
      <label for="input-ingredient" class="col-sm-2 col-form-label">材料</label>
      <div class="col-sm-10">
        <%= f.text_area :ingredient, rows: "10", placeholder: "例）にんじん、タマネギ、白菜", class: "form-control" %>
      </div>
    </div>

    <div class="row mb-3">
      <label for="input-direction" class="col-sm-2 col-form-label">作り方</label>
      <div class="col-sm-10">
        <%= f.text_area :direction, rows: "10", placeholder: "例）はじめに鍋のもとを作ります", class: "form-control" %>
      </div>
    </div>

    <div class="row mb-3">
      <label for="input-memo" class="col-sm-2 col-form-label">メモ（任意）</label>
      <div class="col-sm-10">
        <%= f.text_area :memo, rows: "5", placeholder: "料理に関するエピソード等、ご自由に活用してください（この欄は空欄でも投稿できます）", class: "form-control" %>
      </div>
    </div>

    <input class="btn btn-primary" type="submit" value="投稿する">
    <%= link_to "戻る", root_path, class: "btn btn-primary" %>

  </form>
  <% end %>
