<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.84.0">
    <title>Album example · Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/album/">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>
  </head>
  <body>
    <main>
      <section class="py-5 text-center container">
        <% if user_signed_in? %>
        <%= link_to 'レシピ投稿', new_recipe_path, class: "btn btn-primary my-2" %>
        <% end %>
        <div class="row py-lg-5">
          <div class="col-lg-10 col-md-8 mx-auto">
            <h1 class="fw-light">最近投稿されたレシピ</h1> 

            <div class="recipe-lists">
              <% @recipes.each do |recipe| %>
                <%= link_to recipe_path(recipe.id), class: "recipe-link" do %>
                  <div class="recipe-title">
                    <%= recipe.title %>
                  </div>
                  <div class="recipe-headline">
                    <%= recipe.headline %>
                  </div>
                  <%= image_tag recipe.image.variant(resize: '700 x 700'), class: 'recipe-image' %>
                <% end %>
              <% end %>
            </div>

          </div>
        </div>
      </section>

    </main>
  </body>
</html>
