<section class="py-5 text-center container">

<div class="recipe", id: recipe.id >
  <button type="button" class="btn btn-secondary"><%= "#{@recipe.category.name}" %></button>

  <div class="recipe-title">
    <%= @recipe.title %>
  </div>
  <div class="recipe-headline">
    <%= @recipe.headline %>
  </div>
  <%= image_tag @recipe.image, class: 'recipe-image' %>
  <div class="border border-warning">
    材料
    <div class="recipe-ingredient">
      <%= @recipe.ingredient %>
    </div>
  </div><br>
  <div class="border border-warning">
    作り方
    <div class="recipe-direction">
      <%= @recipe.direction %>
    </div>
  </div><br>
  <div class="border border-warning">
    メモ
    <div class="recipe-memo">
      <%= @recipe.memo %>
    </div>
  </div><br>
  
  <div class="edit-delete">
    <% if user_signed_in? && @recipe.user_id == current_user.id %>
      <button type="button" class="btn btn-primary">編集</button>
      <button type="button" class="btn btn-danger">削除</button>
    <% end %>
  </div>

  <div class="favorite-area", id="favorite_<%= @recipe.id %>">
    <% if user_signed_in? && @recipe.user.id != current_user.id %>
      <%= render partial: 'favorites/favorites', locals:{ recipe: @recipe } %>
    <% end %>
  </div>

  <div class="container">
    <h4>コメント</h4>
    <% if user_signed_in? %>
      <%= form_with(model: [@recipe, @comment], local: true) do |form| %>
        <%= form.text_area :text, placeholder: "コメントする", rows: "2", class: "form-control" %><br>
        <%= form.submit "コメント送信" %>
      <% end %>
    <% else %>
      <strong><p>※※※ コメントの投稿には新規登録/ログインが必要です ※※※</p></strong>
    <% end %><br>

    <div class="comments">
      <h5>＜コメント一覧＞</h5>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.nickname, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.text %>
        </p>
      <% end %>
    </div>
  </div>
  <br>
  <%= link_to "戻る", root_path, class: "btn btn-primary" %>
</div>

</section>
