<section class="py-5 text-center container">

<h2><%= @user.nickname %>さんのマイページ<br></h2>


<%= form_with model: [@user, @calender], url: user_calenders_path(@user.id), local: true do |f| %>

  <div class="menu">
    <div class="form-tag">メニュー</div>
    <%= f.text_field :menu %>
  </div>


  <div class="content">
    <div class="form-tag">内容</div>
    <%= f.text_field :content %>
  </div>

    <div class="time">
    <div class="form-tag">日程</div>
    <%= f.date_select :date %>
  </div>

 <div class="submit">
    <%= f.submit %>
 </div>

<% end %>



<%= month_calendar(events: @calenders) do |date, calenders| %>
  <%= date.day %>

  <% calenders.each do |calender| %>
    <div>
      <%= calender.menu %>
    </div>
  <% end %>
<% end %>



  <%= link_to "トップページへ戻る", root_path, class: "btn btn-primary" %>

</section>